html{
    font-family:  "Tahoma", Geneva, sans-serif;
	height:100%;
	max-width:100%;
}

body{
	height:100%;
}

#logotitre{
	overflow:hidden;	
}

#baniere{
	width:100%;
}

#ariane{
	background-color:#DCDDDE;
	margin-left:18%;
	margin-top:0.2%;
}

#ariane nav{
    display: inline;
	background-color: #DCDDDE;
	font-size: 15pt;
	padding-left: 2%;
	
}

#ariane nav a{
	color: black;
	text-decoration:none;
}

.menuvertical{
	min-height:100%;
    max-width : 18%;
	float: left;
	font-size : 200%;
	line-height:173%;
	text-align: center;
	
}
    
.menuvertical a{
	background-color:#071650;
	color:white;
	display:block;
	text-decoration: none;
	border: 1px solid black;
}

#pictogramme{
    width:60px;
	vertical-align: middle;
}

.menuvertical a:hover{
    background : #C0E5FE;
	text-shadow : 2px 2px black;
}

.menuvertical a.active{
	background: #86CDFC;
}

#menuv {
	height:100%;

}

#intro{
	width:78%;
	float:right;
	position:absolute;
	overflow-y: scroll;
	margin-left: 18%;
	font-size : 15pt;
	max-height:70%;
	display: block;
	padding-right: 2%;
	padding-left: 2%;
}

h1{
    display : block;
    font-size : 40pt;
    margin-top : 20pt;
    margin-bottom : 15pt;
    margin-left: 10pt;
}

h2{
    display : block;
    font-size : 25pt;
    margin-top : 20pt;
    margin-bottom : 15pt;
    margin-left: 10pt;
}

#photomembre1{
	float:left;
	width: 200px;
	margin-right: 10px;
}

#photomembre2{
	float:right;
	width: 200px;
	margin-left: 10px;
}

#photomembre3{
	float:left;
	width: 200px;
	margin-right: 10px;
}

#photomembre4{
	float:right;
	width: 200px;
	margin-left: 10px;
}

#footer{
	font-size: 15pt;
	width: 100%;
	border-top: 1px solid black;
}

footer div{
	float: left;
	text-align: center;
	margin-top: 1.2%;
	display: block;
}

#div1{
	width:20%;
}

#div1 a:link{
	color: #ED2A20;
	text-decoration:none;
}

#div1 a:visited{
	color: #FA4A41;
}

#div1 a:hover{
	color: #AA120A;
}

#div2{
	width:20%;
}

#div3{
	width:20%;
}

#div4{
	width:20%;
}

#div5{
	width:20%;
}

#framagit{
	width: 40px;
}

#iut{
	width: 60px;
}

